<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Bundle replace test</h1>
    <a href="<%%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
<table width="100%" border="0" height="100%" cellspacing="0" cellpadding="16">
  <tr align="center">
    <td align="center">
       Bundle Replacing in progres ...
</td>
  </tr>  <tr align="center">
    <td align="center">
       <img src="/public/images/loading.gif" />
</td>
  </tr>
</table>
  </div>

</div>

