<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Bundle TUPD</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
<br>
    <ul data-role="listview">
    <h1>Total Update</h1>
    <form method="POST" action="<%= url_for :action => :do_bundle_download %>">
       
          <div data-role="fieldcontain">
            <label for="url" class="fieldLabel">URL:</label>
            <input type="text" id="url" name="url" value="http://192.168.10.102/upgrade_bundle.zip" />
          </div>
      <input type="submit" value="Download and Replace"/>
    </form>
<br>
    <h1>Partial Update</h1>
    <form method="POST" action="<%= url_for :action => :do_bundle_download_partial %>">
       
          <div data-role="fieldcontain">
            <label for="url" class="fieldLabel">URL:</label>
            <input type="text" id="url" name="url" value="http://192.168.10.102/upgrade_bundle_partial.zip" />
          </div>
      <input type="submit" value="Download and Replace (Partial)"/>
    </form>

    </ul>
  </div>

</div>

